Itinerary edit!

<%= form_for @itinerary do |f| %>
  <%= @itinerary.id %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>

  <p>
  <%= f.label "Select a place:" %><br/>
	<%= f.collection_check_boxes(:id, Place.all, :id, :title, {:multiple => true}) %>
	</p>

  <p>
    <%= f.submit 'Save changes' %>
  </p>
<% end %>