<div class="container body">
<% provide(:title, 'All places') %>
<h1 class="maintitle">All places</h1>
	<div class="flickr_pagination">
	<%= will_paginate %>
	</div>

		<div class="row row-margin-bottom">
			<% @places.each do |place| %>
            <div class="col-md-5 no-padding lib-item" data-category="view">
                <div class="lib-card">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                        <% if place.pictures.first %>
                        <%= image_tag(place.pictures.first.image.url, class:"lib-img-show") %>
                        <% else %>
                        <%= image_tag("noimage.jpg", class:"lib-img-show") %>
                        <% end %>
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                <%= link_to place.title, place, class:"title-colorize", style:"font-size: 1.1em; font-weight: bold" %>
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc", style="font-size: 0.8em">
                                <%= place.description[0..120]%>
                                <% if place.description.length > 120 %>
                                (...)
                                <% end %>
                            
                            </div>
                        </div>
                    </div>
                    <% if user_signed_in? && (current_user.id == place.user_id || current_user.admin == true) %>
	    								<%= link_to "Delete", place, method: :delete,
	                    								              data: { confirm: "You sure?" }, class:"title-colorize" %>
	    								| <%= link_to "Edit", edit_place_path(place), class:"title-colorize" %>
	  								<% end %>
					  
                </div>
            </div>
			<% end %>
    </div>
	<%= will_paginate %>
</div>

