<% provide(:title, 'All places') %>
<h1>All places</h1>
<div class="list-group">
	<div class="flickr_pagination">
	<%= will_paginate %>
	</div>

		<ul class="users">
			<% @places.each do |place| %>
				<li class="list-group-item">
					  <%= link_to place.title, place %>
					  <% if user_signed_in? && current_user.id == place.user_id %>
	    | 			<%= link_to "Delete", place, method: :delete,
	                                  data: { confirm: "You sure?" } %>
	    |       <%= link_to "Edit", edit_place_path(place) %></li>

	  				<% end %>				  
				</li>
			<% end %>
		</ul>

	<%= will_paginate %>
</div>