Place creation!

<%= form_for(@place, html: {multipart: true}) do |f| %>
	<%= f.text_field :title, placeholder: "Title" %>
	<%= f.text_area :description, placeholder: "Description", class:"form-control", id:"exampleFormControlTextarea1", rows:"3" %>
	<%= f.text_field :lat, placeholder: "Latitude" %>
	<%= f.text_field :long, placeholder: "Longitude" %>

  <div class="control-group">
    <%= f.label :pictures, :class => 'control-label' %>
    <div class="controls">
      <!-- The magic is coming ...look at my eyes....shazammmm -->
      <!-- Use HTML5 multiple attribute to enable multiple selection
           and pass back to controller all files as an array, ready 
           for paperclip!!
           file_field_tag, since images is not a gallery attribute
       -->
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
  </div>

	<%= f.submit "Create!", class: "btn btn-primary" %>
<% end %>