<% provide(:title, @place.title) %>
<h1>
  Welcccome to <%= @place.title %>!
</h1>

<!-- CAROUSEL -->
<%= render 'places/picture' %>

<h2>
  <%= @place.description %>
</h2>
<h2>
  Lat: <%= @place.lat %>
</h2>
<h2>
  Long: <%= @place.long %>
</h2>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAnTulIOurK-7LgPvkZ2QUZZVF1VtnEKeg
  &q=<%= @place.title %>">
</iframe>

<h3>Comments</h3>
<%= render partial: 'places/comment', collection: @place.comments %>


<% if current_user %>

<%= render partial: 'comments/form' %>

<% end %>


