<% provide(:title, @place.title) %>
<h1>
  Welcome to <%= @place.title %>!
</h1>

<!-- CAROUSEL -->
<div class="carousel">
<%= render 'places/picture' %>
</div>
<h2>
  <%= @place.description %>
</h2>
<h2>
  Lat: <%= @place.lat %>
</h2>
<h2>
  Long: <%= @place.long %>
</h2>
<h2>
<% if browser.device.mobile? %>
	<iframe
	  width="300"
	  height="225"
	  frameborder="0" style="border:0"
	  display="block"
	  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAnTulIOurK-7LgPvkZ2QUZZVF1VtnEKeg
	  &q=<%= @place.title %>">
	</iframe>
<% else %>
<div class="prova">
	<iframe
	  width="600"
	  height="450"
	  frameborder="0" style="border:0"
	  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAnTulIOurK-7LgPvkZ2QUZZVF1VtnEKeg
	  &q=<%= @place.title %>">
	</iframe>
</div>
<% end %>
</h2>


<div class="container">
<h1>Comments</h1>

<%= render partial: 'places/comment', collection: @place.comments %>


<% if current_user %>

<%= render partial: 'comments/form' %>

<% end %>
</div>

